<div class="page-content">
	<div class="page-header">
		<h1>货主查询</h1>
	</div>	
	<div class="row">
		<div class="col-xs-10">
			<!-- PAGE CONTENT BEGINS -->
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"> 公司名称 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="公司名称" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 姓名 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="姓名" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 手机号 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="手机号" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 是否认证 </label>
					<div class="col-sm-2">
						<select class="form-control" id="form-field-select-1">
							<option value="">&nbsp;</option>
							<option value="AL">已认证</option>
							<option value="AK">未认证</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"> 注册时间 </label>
					<div class="col-sm-2">
						<input type="Date" placeholder="注册时间" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 到 </label>
					<div class="col-sm-2">
						<input type="Date" placeholder="注册时间" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 所在地区 </label>
					<div class="col-sm-1" style="padding-right:0px;">
						<select class="form-control no-padding-right" 
							ng-model="user.province" 
							ng-options="key as key for (key,value) in dists"
							ng-change="user.city='';user.district='';">
							<option value="">-- 省 --</option>
						</select>
					</div>
					<div class="col-sm-1" style="padding-left:0px;padding-right:0px;">
						<select class="form-control"
							ng-model="user.city" 
							ng-options="key as key for (key,value) in dists[user.province]"
							ng-change="user.district='';">
							<option value="">-- 市 --</option>
						</select>
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 年营业额 </label>
					<div class="col-sm-2">
						<select class="form-control" id="form-field-select-1">
							<option value="">全部</option>
							<option value="AL">20万以下</option>
							<option value="AK">20-50万</option>
							<option value="AK">51-100万</option>
							<option value="AK">101-300万</option>
							<option value="AK">301-500万</option>
							<option value="AK">501-1000万</option>
							<option value="AK">1001-3000万</option>
							<option value="AK">3001-5000万</option>
							<option value="AK">5000-9999万</option>
							<option value="AK">1-10亿</option>
							<option value="AK">10亿以上</option>
						</select>
					</div>
				</div>
			</form>
			<hr>
		</div>
		<div class="col-xs-2">
			<button ng-click="search()" class="btn btn-app btn-inverse btn-xs">
				<i class="icon-search bigger-160"></i>搜索
			</button>
			<a href="#/shipowner_edit" class="btn btn-app btn-primary btn-xs">
				<i class="icon-file bigger-160"></i>新增
			</a>
		</div>
		<div class="col-xs-12">
			<div class="error-container">
				<div class="well">
					<div class="row">
						<div class="col-md-4"><h4 class="blue">南通发发贸易有限公司</h4></div>
						<div class="col-md-4"><h6 class="orange">未认证</h6></div>
						<div class="col-md-4"><h6 class="pull-right">注册时间：2014-11-09 09:00 </h6></div>
						<div class="col-md-12"><h5>公司地址：上海浦东新区南京东路1000号19楼A座</h5></div>
						<div class="col-md-4"><h5 class="">电话：021-88888888 </h5></div>
						<div class="col-md-8"><h5 class="">主营业务：床上用品</h5></div>
						<div class="col-md-4"><h5 class="">网址：<a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a> </h5></div>
						<div class="col-md-8"><h5 class="">年营业额：5000万</h5></div>
					</div>
					<hr class="small">
					<div class="row">
						<div class="col-md-4 inline"><h5><span class="blue">张三</span>先生<span class="pull-right">13088888888 </span></h5></div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<div class="col-md-4"><h4 class="blue">南通发发贸易有限公司</h4></div>
						<div class="col-md-4"><h6 class="orange">未认证</h6></div>
						<div class="col-md-4"><h6 class="pull-right">注册时间：2014-11-09 09:00 </h6></div>
						<div class="col-md-12"><h5>公司地址：上海浦东新区南京东路1000号19楼A座</h5></div>
						<div class="col-md-4"><h5 class="">电话：021-88888888 </h5></div>
						<div class="col-md-8"><h5 class="">主营业务：床上用品</h5></div>
						<div class="col-md-4"><h5 class="">网址：<a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a> </h5></div>
						<div class="col-md-8"><h5 class="">年营业额：5000万</h5></div>
					</div>
					<hr class="small">
					<div class="row">
						<div class="col-md-4 inline"><h5><span class="blue">张三</span>先生<span class="pull-right">13088888888 </span></h5></div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<div class="col-md-4"><h4 class="blue">南通发发贸易有限公司</h4></div>
						<div class="col-md-4"><h6 class="orange">未认证</h6></div>
						<div class="col-md-4"><h6 class="pull-right">注册时间：2014-11-09 09:00 </h6></div>
						<div class="col-md-12"><h5>公司地址：上海浦东新区南京东路1000号19楼A座</h5></div>
						<div class="col-md-4"><h5 class="">电话：021-88888888 </h5></div>
						<div class="col-md-8"><h5 class="">主营业务：床上用品</h5></div>
						<div class="col-md-4"><h5 class="">网址：<a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a> </h5></div>
						<div class="col-md-8"><h5 class="">年营业额：5000万</h5></div>
					</div>
					<hr class="small">
					<div class="row">
						<div class="col-md-4 inline"><h5><span class="blue">张三</span>先生<span class="pull-right">13088888888 </span></h5></div>
					</div>
				</div>
			</div>

			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
</div>