<div class="page-content">
	<div class="page-header">
		<h1>做运输计划</h1>
	</div>	
	<div class="row">
		<div class="col-xs-10">
			<!-- PAGE CONTENT BEGINS -->
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"> 订单号 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="订单号" >
					</div>
					
					<label class="col-sm-1 control-label no-padding-right"> 公司名称 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="公司名称" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 姓名 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="姓名" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 手机号 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="手机号" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"> 日期范围 </label>
					<div class="col-sm-2">
						<input type="Date" placeholder="下单时间" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 到 </label>
					<div class="col-sm-2">
						<input type="Date" placeholder="下单时间" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 发货地 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="发货地" >
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 收货地 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="收货地" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"> 订单类型 </label>
					<div class="col-sm-2">
						<select class="form-control" id="form-field-select-1">
							<option value="">&nbsp;</option>
							<option value="AL">拍照订单</option>
							<option value="AK">文字订单</option>
						</select>
					</div>
					<label class="col-sm-1 control-label no-padding-right"> 运单号 </label>
					<div class="col-sm-2">
						<input type="text" placeholder="运单号" >
					</div>
				</div>
			</form>
			<hr>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-app btn-inverse btn-xs">
				<i class="icon-search bigger-160"></i>搜索
			</button>
			<a href="#/order_edit" class="btn btn-app btn-primary btn-xs">
				<i class="icon-file bigger-160"></i>新增
			</a>
		</div>
		<div class="col-xs-12">
			<div class="error-container">
				<!--div class="well">
					<img src="assets/images/gallery/image-3.jpg" height="100">
					<h5 class="pull-right">下单时间 2014-12-12 12:21</h5>
					<hr>
					<h4 class="lighter smaller">
						南通发发贸易有限公司
						<i class="icon-user"></i>
						李四  13041666292
					</h4>
				</div>
				<div class="well">
					<h5>
						订单号：123456  
						<span class="label label-success arrowed-in arrowed-in-right">  待做运输计划</span>  
						<span class="pull-right">下单时间 2014-12-12 12:21</span>
					</h5>
					<h3>上海 浦东 ——> 江苏 南通</h3>
					<h6>11月09日 09:00  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12月09日 09:00 </h6>
					<h6>螺丝钢：20方；变压器：20方；塑料管：20方；</h6>
					<hr>
					<h4 class="lighter smaller">
						南通发发贸易有限公司
						<i class="icon-user"></i>
						李四  13041666292
					</h4>
				</div-->
				<div class="well" ng-repeat="order in orders">
					<div class="row">
						<a href="#/order_edit/{{order._id}}">
						<div class="col-md-2"><h5>运单号：<span  class="blue">{{order._id}}</span></h5></div>
						<div class="col-md-6"><h5 class="orange">{{order.status}} </h5></div>
						<div class="col-md-4"><h5 class="pull-right">下单时间：{{order.create_at | date:"yyyy-MM-dd hh:mm"}}</h5></div>
						<div class="col-md-2"><h4>{{order.from.city}} {{order.from.district}}</h4></div>
						<div class="col-md-1"><h4>——> </h4></div>
						<div class="col-md-9"><h4>{{order.to.city}} {{order.to.district}}</h4></div>
						<div class="col-md-2"><h5>{{order.pickup_at | date:"MM月dd日 hh:mm"}}</h5></div>
						<div class="col-md-9 col-md-offset-1"><h5 class="">{{order.send_at | date:"MM月dd日 hh:mm"}}</h5></div>
						<div class="col-md-12">
							<h5 class="">
								<span class="inline" ng-repeat="item in order.goods">{{item.name}}：{{item.volumn}}方;</span>
							</h5>
						</div>
						</a>
					</div>
					<hr class="small">
					<div class="row">
						<div class="col-md-3"><h4 class="blue">{{order.cust.name}}</h4></div>
						<div class="col-md-5"><h4><i class="icon-user"></i> {{order.cust.contact}}</span>  {{order.cust.tel}}</h4></div>
						<div class="col-md-2"><button class="btn btn-default btn-sm pull-right">查看相关车辆</button></div>
						<div class="col-md-2"><button class="btn btn-danger btn-sm pull-right">查看司机位置</button></div>
					</div>
				</div>
			</div>

			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
</div>