<div class="page-content">
	<div class="page-header">
		<h1>派车调度 <small><i class="fa fa-angle-double-right "></i> {{order.no}} </small></h1>
	</div>	
	<div class="row">
		<div class="col-xs-10">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">货主</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main padding-12 no-padding-left no-padding-right">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right"> 公司名称 </label>
								<div class="col-sm-4">
									<input ng-model="order.cust.name"  class="col-sm-12" type="text" placeholder="公司名称"  ng-disabled="isDisable">
								</div>
								<label class="col-sm-1 control-label no-padding-right"> 联系人 </label>
								<div class="col-sm-2">
									<input ng-model="order.cust.contact"  class="col-sm-12" type="text" placeholder="联系人"  ng-disabled="isDisable">
								</div>
								<label class="col-sm-1 control-label no-padding-right"> 联系电话 </label>
								<div class="col-sm-3">
									<input ng-model="order.cust.tel"  class="col-sm-12" type="text" placeholder="联系电话"  ng-disabled="isDisable">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right"> 所在地址 </label>
								<div class="col-sm-2" style="padding-right:0px;">
									<select class="form-control no-padding-right" 
										ng-model="order.cust.province" 
										ng-options="key as key for (key,value) in dists"
										ng-change="order.cust.city='';order.cust.district='';"  ng-disabled="isDisable">
										<option value="">-- 省 --</option>
									</select>
								</div>
								<div class="col-sm-2" style="padding-left:0px;padding-right:0px;">
									<select class="form-control"
										ng-model="order.cust.city" 
										ng-options="key as key for (key,value) in dists[order.cust.province]"
										ng-change="order.cust.district='';"  ng-disabled="isDisable">
										<option value="">-- 市 --</option>
									</select>
								</div>
								<div class="col-sm-2" style="padding-left:0px;padding-right:0px;">
									<select class="form-control"
										ng-model="order.cust.district" 
										ng-options="value as value for value in dists[order.cust.province][order.cust.city]"  ng-disabled="isDisable">
										<option value="">-- 区 --</option>
									</select>
								</div>
								<div class="col-sm-5">
									<input ng-model="order.cust.address" class="col-sm-12" type="text" placeholder="具体地址"  ng-disabled="isDisable">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="widget-box transparent">
						<div class="widget-header">
							<h4 class="lighter">发货地址</h4>
						</div>
						<div class="widget-body">
							<div class="widget-main padding-12 no-padding-left no-padding-right">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 公司名称 </label>
										<div class="col-sm-10">
											<input ng-model="order.from.name" type="text" class="col-sm-12" placeholder="公司名称"  ng-disabled="isDisable">
										</div>
									</div>						
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 发货地区 </label>
										<div class="col-sm-3" style="padding-right:0px;">
											<select class="form-control no-padding-right" 
												ng-model="order.from.province" 
												ng-options="key as key for (key,value) in dists"
												ng-change="order.from.city='';order.from.district='';"  ng-disabled="isDisable">
												<option value="">-- 省 --</option>
											</select>
										</div>
										<div class="col-sm-3" style="padding-left:0px;padding-right:0px;">
											<select class="form-control"
												ng-model="order.from.city" 
												ng-options="key as key for (key,value) in dists[order.from.province]"
												ng-change="order.from.district='';"  ng-disabled="isDisable">
												<option value="">-- 市 --</option>
											</select>
										</div>
										<div class="col-sm-3" style="padding-left:0px;padding-right:0px;">
											<select class="form-control"
												ng-model="order.from.district" 
												ng-options="value as value for value in dists[order.from.province][order.from.city]" ng-disabled="isDisable">
												<option value="">-- 区 --</option>
											</select>
										</div>
									</div>						
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 发货地址 </label>
										<div class="col-sm-10">
											<input ng-model="order.from.address" class="col-sm-12" type="text" placeholder="发货地址"  ng-disabled="isDisable">
										</div>
									</div>						
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 联系人 </label>
										<div class="col-sm-3">
											<input ng-model="order.from.contact" class="col-sm-12" type="text" placeholder="联系人"  ng-disabled="isDisable">
										</div>
										<label class="col-sm-2 control-label no-padding-right"> 联系电话</label>
										<div class="col-sm-5">
											<input ng-model="order.from.tel" class="col-sm-12" type="text" placeholder="联系电话"  ng-disabled="isDisable">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 取货时间 </label>
										<div class="col-sm-6">
											<div class="input-group date">
												<input type="datetime" class="form-control" date-time ng-model="order.pickup_at" view="date" placeholder="要求取货时间" ng-disabled="isDisable">
												<span class="input-group-addon"><i class="icon-calendar"></i></span>
											 </div>
										</div>
									</div>
								</form>				
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="widget-box transparent">
						<div class="widget-header">
							<h4 class="lighter">收货地址</h4>
						</div>
						<div class="widget-body">
							<div class="widget-main padding-12 no-padding-left no-padding-right">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 公司名称 </label>
										<div class="col-sm-10">
											<input ng-model="order.to.name" type="text" class="col-sm-12" placeholder="公司名称"  ng-disabled="isDisable">
										</div>
									</div>						
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 所在地区 </label>
										<div class="col-sm-3" style="padding-right:0px;">
											<select class="form-control no-padding-right" 
												ng-model="order.to.province" 
												ng-options="key as key for (key,value) in dists"
												ng-change="order.to.city='';order.to.district='';"  ng-disabled="isDisable">
												<option value="">-- 省 --</option>
											</select>
										</div>
										<div class="col-sm-3" style="padding-left:0px;padding-right:0px;">
											<select class="form-control"
												ng-model="order.to.city" 
												ng-options="key as key for (key,value) in dists[order.to.province]"
												ng-change="order.to.district='';"  ng-disabled="isDisable">
												<option value="">-- 市 --</option>
											</select>
										</div>
										<div class="col-sm-3" style="padding-left:0px;padding-right:0px;">
											<select class="form-control"
												ng-model="order.to.district" 
												ng-options="value as value for value in dists[order.to.province][order.to.city]" ng-disabled="isDisable">
												<option value="">-- 区 --</option>
											</select>
										</div>
									</div>						
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 具体地址 </label>
										<div class="col-sm-10">
											<input ng-model="order.to.address" class="col-sm-12" type="text" placeholder="具体地址"  ng-disabled="isDisable">
										</div>
									</div>						
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 联系人 </label>
										<div class="col-sm-3">
											<input ng-model="order.to.contact" class="col-sm-12" type="text" placeholder="联系人"  ng-disabled="isDisable">
										</div>
										<label class="col-sm-2 control-label no-padding-right"> 联系电话</label>
										<div class="col-sm-5">
											<input ng-model="order.to.tel" class="col-sm-12" type="text" placeholder="联系电话"  ng-disabled="isDisable">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 送货时间 </label>
										<div class="col-sm-6">
											<div class="input-group date">
												<input type="datetime" class="form-control" date-time ng-model="order.send_at" view="date" placeholder="要求送货时间" ng-disabled="isDisable">
												<span class="input-group-addon"><i class="icon-calendar"></i></span>
											 </div>
										</div>
									</div>
								</form>				
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">货品清单</h4>
					<div class="widget-toolbar no-border">
						<a href="#" data-action="collapse"><i class="icon-chevron-down"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner" style="display:none;">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>货品名称</th>
											<th>数量</th>
											<th>单位重量</th>
											<th>总重量</th>
											<th>单位长宽高</th>
											<th>总体积</th>
											<th>详情</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in order.goods">
											<td><input ng-model="item.name" class="col-sm-12" type="text" placeholder="货品名称"  ng-disabled="isDisable"></td>
											<td><input ng-model="item.num" class="col-sm-12" type="number" placeholder="数量"  ng-disabled="isDisable"></td>
											<td><input ng-model="item.uweight" class="col-sm-12" type="number" placeholder="单位重量"  ng-disabled="isDisable"></td>
											<td><input ng-model="item.weight" class="col-sm-12" type="number" placeholder="总重量"  ng-disabled="isDisable"></td>
											<td>
												<input ng-model="item.l" class="col-sm-4" type="number" placeholder="长" ng-disabled="isDisable" >
												<input ng-model="item.w" class="col-sm-4" type="number" placeholder="宽"  ng-disabled="isDisable">
												<input ng-model="item.h" class="col-sm-4" type="number" placeholder="高"  ng-disabled="isDisable">
											</td>
											<td><input ng-model="item.volumn" class="col-sm-12" type="text" placeholder="总体积"  ng-disabled="isDisable"></td>
											<td><input ng-model="item.description" class="col-sm-12" type="text" placeholder="详情"  ng-disabled="isDisable"></td>
											<td>
												<div class="btn-group" ng-hide="isDisable">
													<button ng-click="del_goods(item.name)" class="btn btn-xs btn-danger"><i class="icon-trash bigger-120"></i></button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-2 control-label">
										<input ng-model="order.isinsurance" class="ace" type="checkbox"  ng-disabled="isDisable">
										<span class="lbl"> 是否保险</span>
									</label>
									<div class="col-sm-2">
										<input ng-model="order.insurance" class="col-sm-12" type="text" placeholder="保额"   ng-disabled="isDisable">
									</div>
									<label class="col-sm-2 control-label no-padding-right"> 货主对账订单号 </label>
									<div class="col-sm-3">
										<input ng-model="order.refno"  class="col-sm-12" type="text" placeholder="货主对账订单号"   ng-disabled="isDisable">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>				
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">货主要求</h4>
					<div class="widget-toolbar no-border">
						<a href="#" data-action="collapse"><i class="icon-chevron-down"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner" style="display:none;">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							<textarea  ng-disabled="isDisable" ng-model="order.description" class="autosize-transition form-control" rows="6" width="100%"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="order._id" class="col-xs-4">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">费用清单</h4>
					<div class="widget-toolbar no-border">
						<a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>费用名称</th>
											<th>金额（元）</th>
											<th>备注</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in order.fees">
											<td>{{item.name}}</td>
											<td>{{item.fee}}</td>
											<td>{{item.description}}</td>
										</tr>
										<tr>
											<td>合计</td>
											<td>{{order.sumfee}}</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="order._id" class="col-xs-6">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">付款明细</h4>
					<div class="widget-toolbar no-border">
						<a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th></th>
											<th>付款人</th>
											<th>付款人账号</th>
											<th>付款人开户行</th>
											<th>入账日期</th>
											<th>收款金额</th>
											<th>备注</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in order.receives">
											<td>第{{$index + 1}}次</td>
											<td>{{item.op}}</td>
											<td>{{item.account}}</td>
											<td>{{item.bank}}</td>
											<td>{{item.create_at}}</td>
											<td>{{item.fee}}</td>
											<td>{{item.description}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="order._id" class="col-xs-10">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">调度派车</h4>
					<div class="widget-toolbar no-border">
						<a href="#" data-action="collapse"><i class="icon-chevron-down"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner" style="display:none;">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							<div class="error-container">
								<div class="well" ng-repeat="item in order.dispatchs">
									<div class="row">
										<div class="col-md-3">运单号: {{order._id}}_{{$index}}</div>
										<div class="col-md-2">运费: {{item.fee}} </div>
										<div class="col-md-2">车型：{{item.car}}</div>
										<div class="col-md-2">保额：{{item.insurance}}</div>
										<div class="col-md-3">
											<button class="btn btn-primay btn-xs">跟踪</button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">司机: {{item.driver.name}}</div>
										<div class="col-md-2">联系电话: {{item.driver.tel}} </div>
										<div class="col-md-2">车牌号: {{item.driver.carno}}</div>
										<div class="col-md-2">抢单时间:{{item.driver.create_at}}</div>
										<div class="col-md-3">
											<button class="btn btn-primay btn-xs">跟踪</button>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<div class="row" ng-repeat="sub in item.goods">
												<div class="col-md-2"><h5>{{sub.name}}</h5></div>
												<div class="col-md-8"><h5>件数 {{sub.num}} 总重量 {{sub.weight}}({{sub.uweight}}) 总体积{{sub.volumn}}({{sub.l}}*{{sub.w}}*{{sub.h}})</h5></div>
												<div class="col-md-2"><h5>{{sub.description}}</h5></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="profile-activity clearfix">
												<div>
													<img class="pull-left" alt="Alex Doe's avatar" src="assets/images/gallery/image-1.jpg">
													异常情况描述.
													<a href="#">播放留言</a>
													<div class="time"><i class="icon-time bigger-110"></i>1个小时前 江苏 江阴</div>
												</div>
											</div>
											<div class="profile-activity clearfix">
												<div>
													<img class="pull-left" alt="Alex Doe's avatar" src="assets/images/gallery/image-2.jpg">
													异常情况描述.
													<a href="#">播放留言</a>
													<div class="time"><i class="icon-time bigger-110"></i>1个小时前 江苏 江阴</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="order._id" class="col-xs-10">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">登记付款记录</h4>
					<div class="widget-toolbar no-border">
						<a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							<div class="row">
								<div class="col-sm-10">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label class="col-sm-1 control-label no-padding-right"> 付款人 </label>
											<div class="col-sm-3">
												<input ng-model="receive.op" type="text" class="col-sm-12" placeholder="付款人">
											</div>
											<label class="col-sm-1 control-label no-padding-right"> 金额 </label>
											<div class="col-sm-3">
												<input ng-model="receive.fee" type="text" class="col-sm-12" placeholder="金额">
											</div>
											<label class="col-sm-1 control-label no-padding-right"> 入账日期 </label>
											<div class="col-sm-3">
												<div class="input-group date">
													<input type="datetime" class="form-control" date-time ng-model="receive.create_at" view="date" placeholder="要求送货时间">
													<span class="input-group-addon"><i class="icon-calendar"></i></span>
												 </div>
											</div>
										</div>						
										<div class="form-group">
											<label class="col-sm-1 control-label no-padding-right"> 开户行 </label>
											<div class="col-sm-3">
												<input ng-model="receive.bank" class="col-sm-12" type="text" placeholder="开户行">
											</div>
											<label class="col-sm-1 control-label no-padding-right"> 账号 </label>
											<div class="col-sm-3">
												<input ng-model="receive.account" class="col-sm-12" type="text" placeholder="付款人账号">
											</div>
											<label class="col-sm-1 control-label no-padding-right"> 备注</label>
											<div class="col-sm-3">
												<input ng-model="receive.description" class="col-sm-12" type="text" placeholder="备注">
											</div>
										</div>
									</form>
								</div>
								<div class="col-sm-2">
									<a ng-click="save()" class="btn btn-app btn-primary btn-xs"><i class="icon-save bigger-160"></i>提交</a>
								</div>
							</div>				
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>